@model VolvoCaminhoes.Models.Caminhao

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Modelo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            Ano de Fabricação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt>
            Ano Modelo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
